<ion-view title="Login">
    <ion-content class="has-header homeClass" overflow-scroll="false" padding="true">
        <div class="row row-center height100Pre">
            <div class="col">
                <div class="row marginForNameWrapper">
                    <div class="col">
                        <div class="nameWapper"><span>You</span>
                            <div class="cross"></div>
                        </div>
                        <div class="nameWapper"><span>Demo</span>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="gameWrapper">
                        <div class="gameInnerWrapper">
                            <div class="square right bottom">
                                <div class="x"></div>
                            </div>
                            <div class="square bottom">
                                <div class="o"></div>
                            </div>
                            <div class="square left bottom">
                                <div class="o"></div>
                            </div>
                            <div class="square right bottom">
                                <div class="x"></div>
                            </div>
                            <div class="square bottom">
                                <div class="x"></div>
                            </div>
                            <div class="square left bottom">
                                <div class="o"></div>
                            </div>
                            <div class="square right">
                                <div class="x"></div>
                            </div>
                            <div class="square">
                                <div class="o"></div>
                            </div>
                            <div class="square left">
                                <div class="x"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="buttonWrapper">
                            <button class="button playBtn">Play</button>
                            <button class="button button-dark">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>