<ion-view title="Players">
<ion-content class="has-header" overflow-scroll="true" padding="true">
<div class="list card">
    <div class="item item-divider availableHeading">Available</div>
    <div class="item item-body">
        <ion-list>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Praveen Kumar Sinha</div>
        <div class="userAvlStats text-center"><img src="img/Online.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Rajeev Sharma</div>
        <div class="userAvlStats text-center"><img src="img/Online.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Gurinderpal Singh</div>
        <div class="userAvlStats text-center"><img src="img/Online.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Pradeep Gill</div>
        <div class="userAvlStats text-center"><img src="img/Online.svg"></div>
        </ion-item>
        </ion-list>
    </div>
</div>

<div class="list card">
    <div class="item item-divider availableHeading">Engaged</div>
    <div class="item item-body">
        <ion-list>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Praveen Kumar Sinha</div>
        <div class="userAvlStats text-center"><img src="img/Engaged.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Rajeev Sharma</div>
        <div class="userAvlStats text-center"><img src="img/Engaged.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Gurinderpal Singh</div>
        <div class="userAvlStats text-center"><img src="img/Engaged.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Pradeep Gill</div>
        <div class="userAvlStats text-center"><img src="img/Engaged.svg"></div>
        </ion-item>
        </ion-list>
    </div>
</div>


<div class="list card playerLastMargin">
    <div class="item item-divider availableHeading">Offline</div>
    <div class="item item-body offlineDiv">
        <ion-list>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Praveen Kumar Sinha</div>
        <div class="userAvlStats text-center"><img src="img/Logout.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Rajeev Sharma</div>
        <div class="userAvlStats text-center"><img src="img/Logout.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Gurinderpal Singh</div>
        <div class="userAvlStats text-center"><img src="img/Logout.svg"></div>
        </ion-item>
        <ion-item class="row-no-padding userList">
        <div class="userImage"><img src="img/ionic.png"></div>
        <div class="userName">Pradeep Gill</div>
        <div class="userAvlStats text-center"><img src="img/Logout.svg"></div>
        </ion-item>
        </ion-list>
    </div>
</div>


</ion-content>
</ion-view>